[submodule "deps/geometry-central"]
	path = deps/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
[submodule "deps/polyscope"]
	path = deps/polyscope
	url = https://github.com/nmwsharp/polyscope.git
[submodule "deps/bullet3"]
	path = deps/bullet3
	url = https://github.com/bulletphysics/bullet3
[submodule "deps/qhull"]
	path = deps/qhull
	url = https://github.com/qhull/qhull.git
[submodule "deps/autodiff"]
	path = deps/autodiff
	url = https://github.com/autodiff/autodiff.git
